/* Home Page Styling */
.home-page {
  padding: 2rem;
  min-height: 100vh;
  background: linear-gradient(to right, #cbefff, #a0e7ff);
  position: relative;
}

.logout-btn {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  padding: 20rem 20rem;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #cc0000;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  
}

.home-content h2 {
  margin-bottom: 2rem;
  color: #0077b6;
}

.search-bar {
  width: 300px;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
}



.post-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.post-card {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.post-card button {
  background: #e91e63;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
